.popup_main {
    display: flex;
    position: relative;
    margin: 0 auto;
    top: 25%;
    /* position: absolute; */
}

.popup_main_dark {
    display: flex;
    background-color: #232323;
    color: white;

}

.popup_main_light {
    display: flex;
    background-color: white;
    color: black;

}

.popup {
    position: fixed;
    top: 50px;
    left: 20%;
    right: 20%;
    display: flex;
    flex-direction: column;
    z-index: 2;
    border-radius: 5px;
}




.popup_img img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: 10px;
}

.popup_info {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    align-items: center;
}

.close {
    display: flex;
    justify-content: flex-end;
}

.close_img {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    margin-top: -12px;
    margin-right: -12px;

    /* margin-left: -20px; */
}




.user_side {
    display: flex;
    align-items: center;
    padding: 20px;
}




.user_side h6 {
    margin: 0;
    font-family: Poppins;
    font-size: 12px;
    font-style: italic;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #A7A7A7;
}

.user_side img {
    width: 56px;
    height: 56px;
    border-radius: 100%;
    margin-right: 10px;
    object-fit: contain;

}

.user_side_right {
    display: flex;
    align-items: center;
}

.user_side_right p {
    margin-right: 2px;
    margin-left: 2px;
}

.user_side_right img {
    width: 25px;
    height: 30px;
}

@media(max-width:800px) {


    .popup_info {
        padding: 0 5px;
    }

    .user_side {
        padding: 10px 3px;
    }

    .popup {
        top: 25px;
        height: max-content;
    }

    .mobile_popup_info {
        flex-wrap: wrap;
    }

    .popup_img img {
        height: 250px;
    }

    .mobile_img_desc {
        width: 80%;
    }

    .mobile_user_insta {
        text-overflow: clip;
        overflow: hidden;
    }
}

@media(max-width:400px) {
    .popup {
        left: 10px;
        right: 10px;
    }
}