.dark {
    display: flex;
    flex-direction: column;
    background-color: #232323;
    color: white;
}

.light {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
}


.user_side_p_light {
    margin: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;

    color: #4F4F4F;
}

.user_side_p_dark {
    margin: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #E5E5E5;
}